{% extends 'base.html' %}
{% block title %}Registro - Hola Flask{% endblock %}

{% block content %}
<section class="card">
  <h2>Registro de usuario</h2>
  <form method="post">
    <label>Nombre</label>
    <input type="text" name="name" required>

    <label>Correo</label>
    <input type="email" name="email" required>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <button class="btn primary" type="submit">Registrar</button>
  </form>
</section>
{% endblock %}
